<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Wine Type Prediction</title>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="winePredict">
    <h1>Wine Type Prediction</h1>
    <form action="/predict" method="post">
      <input type="text" name="FixedAcidity" placeholder="Fixed Acidity" required="required" />
      <input type="text" name="VolatileAcidity" placeholder="Volatile Acidity" required="required" />
      <input type="text" name="CitricAcid" placeholder="Citric Acid" required="required" />
      <input type="text" name="ResidualSugar" placeholder="Residual Sugar" required="required" />
      <input type="text" name="Chlorides" placeholder="Chlorides" required="required" />
      <input type="text" name="FreeSulfurDioxide" placeholder="Free Sulfur Dioxide" required="required" />
      <input type="text" name="TotalSulfurDioxide" placeholder="Total Sulfur Dioxide" required="required" />
      <input type="text" name="Density" placeholder="Density" required="required" />
      <input type="text" name="pH" placeholder="pH" required="required" />
      <input type="text" name="Sulphates" placeholder="Sulphates" required="required" />
      <input type="text" name="Alcohol" placeholder="Alcohol" required="required" />
      <input type="text" name="Quality" placeholder="Quality" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict Wine Type</button>
    </form>
    <br>
    {{ prediction_text }}
  </div>
</body>

</html>